In [8]:
import pandas as pd
import numpy as np

In [17]:
dfa = pd.read_csv("beginner_datasets/amazon.csv")

In [18]:
dfa

                                              reviewText  Positive
0      This is a one of the best apps acording to a b...         1
1      This is a pretty good version of the game for ...         1
2      this is a really cool game. there are a bunch ...         1
3      This is a silly game and can be frustrating, b...         1
4      This is a terrific game on any pad. Hrs of fun...         1
...                                                  ...       ...
19995  this app is fricken stupid.it froze on the kin...         0
19996  Please add me!!!!! I need neighbors! Ginger101...         1
19997  love it!  this game. is awesome. wish it had m...         1
19998  I love love love this app on my side of fashio...         1
19999  This game is a rip off. Here is a list of thin...         0

[20000 rows x 2 columns]

In [19]:
dfa.shape # Valutiamo la dimensione del dataset

(20000, 2)

In [27]:
dfam.sample(10) # Visualizziamo dieci righe a caso

                                              reviewText  Positive
3803   Great application, although sometimes you have...         1
864    I Can't. Believe. That. Everyone. Is Talking A...         1
15667  I love this newspaper.  It gives me all newspa...         1
17222  Great app. I use this all of the time.  It doe...         1
14698  Seems to be a fun and simple game.  At least t...         0
19860  e rctg u I ky r ty d ff Dr rd recd Dr dre Dr d...         1
14635  The app immediately closes when I hit play. Tr...         0
12179  does everything i wanted it too. i use it almo...         1
8241   I have a kindle fire and it works great! I lov...         1
16110  Usually drawing with my fingers is a clumsy af...         1

In [25]:
dfa.columns # Osserviamo quali sono i nomi di colonna

Index(['reviewText', 'Positive'], dtype='object')

In [26]:
df.dtypes

reviewText    object
Positive       int64
dtype: object

In [31]:
recensioni = df["Positive"].value_counts()
print(recensioni) #il dataset è sbilanciato, ci sono più recensioni positivi rispetto a quelle negative

Positive
1    15233
0     4767
Name: count, dtype: int64

In [29]:
print(recensioni

Positive
1    15233
0     4767
Name: count, dtype: int64

In [35]:
dfi = pd.read_csv("beginner_datasets/insurance.csv")
dfi.shape #dimensioni

(1338, 7)

In [37]:
dfi.head() #anteprima

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [42]:
dfi.columns #nomi colonne

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [59]:
avg_region = dfi.groupby("region")["charges"].mean()
print(avg_region) # media di charges per region

region
northeast    13406.384516
northwest    12417.575374
southeast    14735.411438
southwest    12346.937377
Name: charges, dtype: float64

In [62]:
avg_smoker = dfi.groupby("smoker")["charges"].mean()
print(avg_smoker) #per fumatore o meno

smoker
no      8434.268298
yes    32050.231832
Name: charges, dtype: float64

In [65]:
avg_sex = dfi.groupby("sex")["charges"].mean()
print(avg_sex) # per sesso

sex
female    12569.578844
male      13956.751178
Name: charges, dtype: float64

In [67]:
dfi.describe() # Quali sono i descrittori statistici di bmi? Quali sono minimo, media e massimo di charges rispetto ai diversi quartili dei valori di bmi?

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [89]:
dfp = pd.DataFrame(pd.read_csv("beginner_datasets/pokemon.csv")) #dataset pokemon

In [90]:
dfp.shape #dimensioni

(800, 13)

In [93]:
dfp.head() #anteprima

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [94]:
dfp.columns #nomi colonne

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [95]:
dfp.set_index("#") # collocata la colonna # come index

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [96]:
legendary_pokemon = dfp[dfp["Legendary"] == True]["Name"]
print(legendary_pokemon) #pokemon leggendari

156               Articuno
157                 Zapdos
158                Moltres
162                 Mewtwo
163    MewtwoMega Mewtwo X
              ...
795                Diancie
796    DiancieMega Diancie
797    HoopaHoopa Confined
798     HoopaHoopa Unbound
799              Volcanion
Name: Name, Length: 65, dtype: object

In [98]:
legendary_pokemon_grass = dfp[(dfp["Type 1"] == "Grass") & (dfp["Legendary"] == True)]["Name"]
print(legendary_pokemon_grass) #leggendari di tipo grass

550    ShayminLand Forme
551     ShayminSky Forme
701             Virizion
Name: Name, dtype: object

In [110]:
legendary_pokemon_fire_ice = dfp[((dfp["Type 1"] == "Fire") | (dfp["Type 1"] == "Ice")) & (dfp["Legendary"] == True)]["Name"]
print(legendary_pokemon_fire_ice) #pokemon leggendari di tipo fuoco o ghiaccio

156     Articuno
158      Moltres
263        Entei
270        Ho-oh
415       Regice
542      Heatran
799    Volcanion
Name: Name, dtype: object

In [109]:
dfp.sort_values("Name") # ordinare in base al nome crescente e colonna name come Index
dfp.set_index("Name")

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,2,Grass,Poison,405,60,62,63,80,80,60,1,False
Venusaur,3,Grass,Poison,525,80,82,83,100,100,80,1,False
VenusaurMega Venusaur,3,Grass,Poison,625,80,100,123,122,120,80,1,False
Charmander,4,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
Diancie,719,Rock,Fairy,600,50,100,150,100,150,50,6,True
DiancieMega Diancie,719,Rock,Fairy,700,50,160,110,160,110,110,6,True
HoopaHoopa Confined,720,Psychic,Ghost,600,80,110,60,150,130,70,6,True
HoopaHoopa Unbound,720,Psychic,Dark,680,80,160,60,170,130,80,6,True
Volcanion,721,Fire,Water,600,80,110,120,130,90,70,6,True

In [116]:
pokemon_fg = dfp["Name"][(dfp["Generation"]== 1) & (dfp["Attack"] > 50) & (dfp["Attack"] < 60)]
print(pokemon_fg) # Quali sono i Pokémon della prima generazione con attacco > 50 e HP < 60?

4      Charmander
24        Rattata
30        Pikachu
37       Nidoran♂
53        Venonat
55        Diglett
59        Psyduck
116     Lickitung
122       Tangela
144         Eevee
Name: Name, dtype: object

In [136]:
import dotenv
import os
from sqlalchemy import create_engine
import pandas as pd
dotenv.load_dotenv(override=True)
username=os.getenv("username")
password=os.getenv("password")
host=os.getenv("host")
dbname=os.getenv("dbname")
conn_string = f"mysql+pymysql://{username}:{password}@{host}/{dbname}"
db_engine = create_engine(conn_string)
query = """SELECT * FROM dimproduct
        """
df = pd.read_sql(query, db_engine)
db_engine.dispose()
df.shape
df

,ProductKey,ProductAlternateKey,ProductSubcategoryKey,WeightUnitMeasureCode,SizeUnitMeasureCode,EnglishProductName,SpanishProductName,FrenchProductName,StandardCost,FinishedGoodsFlag,...,ChineseDescription,ArabicDescription,HebrewDescription,ThaiDescription,GermanDescription,JapaneseDescription,TurkishDescription,StartDate,EndDate,Status
0,1,AR-5381,NaN,None,None,Adjustable Race,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
1,2,BA-8327,NaN,None,None,Bearing Ball,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
2,3,BE-2349,NaN,None,None,BB Ball Bearing,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
3,4,BE-2908,NaN,None,None,Headset Ball Bearings,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
4,5,BL-2036,NaN,None,None,Blade,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
601,602,BB-8107,5.0,G,None,ML Bottom Bracket,Eje de pedalier GM,Axe de pédalier ML,44.95,1,...,铝合金车圈；大直径脚蹬轴。,فناجين من سبيكة الألومنيوم؛ ذات محور دوران كبي...,כיסויים מסגסוגת אלומיניום; ציר רחב-קוטר.,ดุมอลูมิเนียมอัลลอยด์ แกนเพลาขนาดใหญ่,Außenringe aus Aluminiumlegierung; Radachse mi...,アルミニウム合金カップ、大径スピンドル。,Alüminyum alaşımı orta göbekler; geniş çaplı mil.,2013-07-01,NaT,Current
602,603,BB-9108,5.0,G,None,HL Bottom Bracket,Eje de pedalier GA,Axe de pédalier HL,53.94,1,...,铝合金车圈和空心轴。,فناجين من سبيكة الألومنيوم ومحور أجوف.,כיסויים מסגסוגת אלומיניום וציר חלול.,ดุมอลูมิเนียมอัลลอยด์และเพลากลวง,Außenringe aus Aluminiumlegierung und hohle Ac...,アルミニウム合金カップとホロー アクスル。,Alüminyum alaşımı orta göbekler ve içi boş aks.,2013-07-01,NaT,Current
603,604,BK-R19B-44,2.0,LB,CM,"Road-750 Black, 44","Carretera: 750, negra, 44","Vélo de route 750 noir, 44",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current
604,605,BK-R19B-48,2.0,LB,CM,"Road-750 Black, 48","Carretera: 750, negra, 48","Vélo de route 750 noir, 48",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current
605,606,BK-R19B-52,2.0,LB,CM,"Road-750 Black, 52","Carretera: 750, negra, 52","Vélo de route 750 noir, 52",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current

In [137]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 606 entries, 0 to 605
Data columns (total 36 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ProductKey             606 non-null    int64
 1   ProductAlternateKey    606 non-null    object
 2   ProductSubcategoryKey  397 non-null    float64
 3   WeightUnitMeasureCode  282 non-null    object
 4   SizeUnitMeasureCode    253 non-null    object
 5   EnglishProductName     606 non-null    object
 6   SpanishProductName     606 non-null    object
 7   FrenchProductName      606 non-null    object
 8   StandardCost           397 non-null    float64
 9   FinishedGoodsFlag      606 non-null    int64
 10  Color                  606 non-null    object
 11  SafetyStockLevel       606 non-null    int64
 12  ReorderPoint           606 non-null    int64
 13  ListPrice              395 non-null    float64
 14  Size                   299 non-null    object
 15  SizeRange              606 non-null    object
 16  Weight                 282 non-null    float64
 17  DaysToManufacture      606 non-null    int64
 18  ProductLine            380 non-null    object
 19  DealerPrice            395 non-null    float64
 20  Class                  330 non-null    object
 21  Style                  301 non-null    object
 22  ModelName              397 non-null    object
 23  LargePhoto             606 non-null    object
 24  EnglishDescription     396 non-null    object
 25  FrenchDescription      396 non-null    object
 26  ChineseDescription     396 non-null    object
 27  ArabicDescription      396 non-null    object
 28  HebrewDescription      396 non-null    object
 29  ThaiDescription        396 non-null    object
 30  GermanDescription      396 non-null    object
 31  JapaneseDescription    396 non-null    object
 32  TurkishDescription     396 non-null    object
 33  StartDate              606 non-null    datetime64[ns]
 34  EndDate                200 non-null    datetime64[ns]
 35  Status                 406 non-null    object
dtypes: datetime64[ns](2), float64(5), int64(5), object(24)
memory usage: 170.6+ KB

In [138]:
df.head(1)  #prima riga

,ProductKey,ProductAlternateKey,ProductSubcategoryKey,WeightUnitMeasureCode,SizeUnitMeasureCode,EnglishProductName,SpanishProductName,FrenchProductName,StandardCost,FinishedGoodsFlag,...,ChineseDescription,ArabicDescription,HebrewDescription,ThaiDescription,GermanDescription,JapaneseDescription,TurkishDescription,StartDate,EndDate,Status
0,1,AR-5381,NaN,None,None,Adjustable Race,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current

In [139]:
df.tail(1) #ultima riga del dataset

,ProductKey,ProductAlternateKey,ProductSubcategoryKey,WeightUnitMeasureCode,SizeUnitMeasureCode,EnglishProductName,SpanishProductName,FrenchProductName,StandardCost,FinishedGoodsFlag,...,ChineseDescription,ArabicDescription,HebrewDescription,ThaiDescription,GermanDescription,JapaneseDescription,TurkishDescription,StartDate,EndDate,Status
605,606,BK-R19B-52,2.0,LB,CM,"Road-750 Black, 52","Carretera: 750, negra, 52","Vélo de route 750 noir, 52",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current

In [140]:
df.sample(5) #5 righe a caso

,ProductKey,ProductAlternateKey,ProductSubcategoryKey,WeightUnitMeasureCode,SizeUnitMeasureCode,EnglishProductName,SpanishProductName,FrenchProductName,StandardCost,FinishedGoodsFlag,...,ChineseDescription,ArabicDescription,HebrewDescription,ThaiDescription,GermanDescription,JapaneseDescription,TurkishDescription,StartDate,EndDate,Status
562,563,BK-T79Y-54,3.0,LB,CM,"Touring-1000 Yellow, 54","Paseo: 1000, amarilla, 54","Vélo de randonnée 1000 jaune, 54",1481.94,1,...,享受时尚舒适的旅行。专门设计，最大程度地确保舒适和安全。速度可调，轻松翻越所有类型的山坡。采...,الاستمتاع بالمظهر الأنيق والراحة عند السفر. لق...,רכיבה מסוגננת ונוחה. עיצוב המיועד למרב הנוחות ...,เดินทางอย่างมาดมั่นและสะดวกสบาย ได้รับการออกแ...,Fahren Sie mit Stil und Komfort. Design für ma...,スタイルと乗り心地を同時に実現。最大限の快適性と安全性を目標に設計され、ワイドなギア レンジ...,"""Tarz ve konforlu yolculuk. Maksimum konfor ve...",2013-07-01,NaT,Current
418,419,RW-M423,17.0,None,None,LL Mountain Rear Wheel,,,38.96,1,...,适用于入门级骑乘者的备用山地车轮。,عجلة احتياطية مخصصة للقيادة في الجبال لراكبي ا...,גלגל חלופי לרכיבה הררית לרוכב המתחיל.,ล้ออะไหล่จักรยานภูเขาสำหรับนักปั่นระดับเริ่มต้น,Ersatzrad für Mountainbike-Einsteiger.,初心者向けの交換用マウンテン ホイール。,Başlangıç seviyesinde sürücüler için yedek dağ...,2012-07-01,2008-12-27,None
257,258,FR-R38B-60,14.0,LB,CM,"LL Road Frame - Black, 60","Cuadro de carretera GB: negro, 60","Cadre de vélo de route LL - noir, 60",204.63,1,...,LL 车架提供了安全舒适的骑乘，经济实惠的铝制车架提供了卓越的避震功能。,يوفر الهيكل LL Frame قيادة آمنة ومريحة، مع توف...,"מסגרת ה- LL מספקת רכיבה בטוחה ונוחה ועם זאת, מ...",เฟรม LL ให้ความปลอดภัยและสบายขณะขับขี่ พร้อมทั...,Mit dem LL-Rahmen fahren Sie sicher und komfor...,LL フレームは、安全で快適に乗ることができ、値打ち価格のアルミニウム フレームで優れた衝撃...,"""LL Kadro güvenli ve konforlu sürüş sunar, değ...",2013-07-01,NaT,Current
553,554,HB-T928,4.0,None,None,HL Touring Handlebars,Manillar de paseo GA,Poignées de vélo de randonnée HL,40.66,1,...,轻且坚固的铝制车把适用于长途骑乘。,قضيب قيادة مصنوع من الألومنيوم خفيف الوزن ولكن...,ידית אלומיניום קלה אך עם זאת קשיחה לרכיבה למרח...,คันบังคับอลูมิเนียมแข็งแกร่ง เบา เหมาะสำหรับกา...,Leichtes und stabiles Aluminium für Langstrecken.,長距離ライディングに対応する軽量かつ高剛性のアルミニウム バー。,Uzun mesafe sürüş için hafif ancak sert alümin...,2013-07-01,NaT,Current
138,139,LN-9161,NaN,None,None,Lock Nut 18,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current

In [193]:
Color = df["Color"].unique() #colori disponibili
print("Colors: ", Color)

Colors:  ['NA' 'Black' 'Silver' 'Red' 'White' 'Blue' 'Multi' 'Yellow' 'Grey'
 'Silver/Black']

In [151]:
media_peso = df["Weight"].mean() #media peso
print("Media Peso: ", media_peso)

Media Peso:  56.1932269503546

In [154]:
min = df["Weight"].min() #peso minimo
print(min)

2.12

In [153]:
max = df["Weight"].max() #peso massimo
print(max)

1050.0

In [201]:
maggiore_100kg = len(df[df["Weight"] > 100])
print(maggiore_100kg)

28

In [162]:
avg_price = df.groupby("EnglishProductName")["DealerPrice"].mean()
print(avg_price) #costo medio prodotto

EnglishProductName
AWC Logo Cap                   5.255667
Adjustable Race                     NaN
All-Purpose Bike Stand        95.400000
BB Ball Bearing                     NaN
Bearing Ball                        NaN
                                ...
Women's Mountain Shorts, M    41.994000
Women's Mountain Shorts, S    41.994000
Women's Tights, L             44.994000
Women's Tights, M             44.994000
Women's Tights, S             44.994000
Name: DealerPrice, Length: 504, dtype: float64

In [197]:
percentile75 = df['ListPrice'].quantile(0.75) #range quartile più costoso

maggiore_percentile75 = df[df['ListPrice'] >= percentile75]

min = maggiore_percentile75['ListPrice'].min()
max = maggiore_percentile75['ListPrice'].max()

percentile75, min, max

(1204.32, 1204.32, 3578.27)

In [186]:
color_price_avg = df.groupby("Color")["DealerPrice"].mean() # prodotti di colore rosso blu e nero
blu = color_price_avg.loc[["Blue"]]
red_black = color_price_avg.loc[["Red", "Black"]]

print(blu)
print(red_black)

Color
Blue    516.063179
Name: DealerPrice, dtype: float64
Color
Red      705.963284
Black    474.823688
Name: DealerPrice, dtype: float64

In [199]:
filtro = df[(df["Size"] == "42") & (df["Weight"] > 10)] # presso amssimo prodotto di taglia 42 e peso > 10 kg
max_price = filtro["DealerPrice"].max()
print(max_price)

2039.994

In [198]:
filtro = df[(df["Size"] == "42") & (df["Weight"] > 10) & (df["Color"] == "Silver")]
filtro2 = filtro[["EnglishProductName", "StandardCost"]]
print(filtro2)

            EnglishProductName  StandardCost
344    Mountain-100 Silver, 42       1912.15
353    Mountain-200 Silver, 42       1117.86
354    Mountain-200 Silver, 42       1265.62
588  Mountain-400-W Silver, 42        419.78
591    Mountain-500 Silver, 42        308.22

In [195]:
last_20 = df[-20:]

last_20["PriceDifference"] = last_20["DealerPrice"] - last_20["StandardCost"]

last_20[["StandardCost", "DealerPrice", "PriceDifference"]]

C:\Users\User\AppData\Local\Temp\ipykernel_24104\3506568485.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_20["PriceDifference"] = last_20["DealerPrice"] - last_20["StandardCost"]

     StandardCost  DealerPrice  PriceDifference
586        419.78      461.694           41.914
587        419.78      461.694           41.914
588        419.78      461.694           41.914
589        419.78      461.694           41.914
590        308.22      338.994           30.774
591        308.22      338.994           30.774
592        308.22      338.994           30.774
593        308.22      338.994           30.774
594        308.22      338.994           30.774
595        294.58      323.994           29.414
596        294.58      323.994           29.414
597        294.58      323.994           29.414
598        294.58      323.994           29.414
599        294.58      323.994           29.414
600         23.97       32.394            8.424
601         44.95       60.744           15.794
602         53.94       72.894           18.954
603        343.65      323.994          -19.656
604        343.65      323.994          -19.656
605        343.65      323.994          -19.656